form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #758a8a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add-btn {
  display: flex;
  justify-content: flex-end;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
th {
  text-align: center;
}
td {
  text-align: center;
  vertical-align: center;
  color: black;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: var(--bg-hover-color);
}
button {
  background: var(--dark-color);
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

table button {
  background-color: var(--special-color);
  padding: 5px 8px;
}
.pagination {
  margin-top: 10px;
  text-align: center;
}

.prev-btn,
.next-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #0056b3;
}


