header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.user-section {
  display: flex;
  align-items: center;
  position: relative;
}
.avatar {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.username {
  margin-right: 0.3rem;
}
.menu-btn {
  background: none;
  padding: 5px;
  border: none;
  cursor: pointer;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--background-color);
  border-radius: 4px;
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}

li {
  padding: 0.3rem 0.9rem;
  cursor: pointer;
}

li a,
li button {
  font-family: inherit;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  cursor: pointer;
}
a:hover,
button:hover {
  opacity: 0.5;
}
