header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem;
  color: #1b2568;
  border-bottom: 1px solid var(--light-color);
}
header .logo {
  font-weight: bold;
}

.user-section {
  display: flex;
  align-items: center;

  position: relative;
  gap: 0.3rem;
}
.avatar {
  border: 1px solid #1b2568;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.menu-btn {
  background: none;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: #1f384c;
}
.dropdown-menu {
  position: absolute;
  top: 115%;
  right: 0;
  background: var(--light-color);
  border-radius: 4px;
  padding: 8px 10px;
  list-style: none;
}

li {
  padding: 0.3rem 1.2rem;
  cursor: pointer;
}

li a,
li button {
  font-family: inherit;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 100%;
  /* text-align: left; */
  cursor: pointer;
}
li:hover {
  background-color: var(--bg-hover-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
li a:hover,
li button:hover {
  color: var(--hover-color);
}
