header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.8rem;
  color: #1b2568;
  border-bottom: 1px solid var(--light-color);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 10px;
}
header .logo {
  font-weight: bold;
  font-size: 0.9rem;
}

.user-section {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.3rem;
  background: none;
  border: none;
  color: #1f384c;
  cursor: pointer;
}
.avatar {
  border: 1px solid lightgray;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
