<app-notification />

<app-confirmation-dialog
  [isVisible]="isDialogVisible()"
  message="Are you sure?"
  title="CONFIRM"
  (confirmed)="onDialogResult($event)"
></app-confirmation-dialog>

<app-dialog-wrapper title="Add/Edit Type">
  <div class="container">
    <form [formGroup]="type_form">
      <fieldset>
        <legend>Type info</legend>
        <div class="control-row">
          <div class="control">
            <label for="type-id">Type ID</label>
            @if (type==='application') {
            <input id="type-id" [value]="current_app_type()?.id" />
            }@else if(type==='test'){
            <input id="type-id" [value]="current_test_type()?.id" />
            }
          </div>
        </div>
        <div class="control-row">
          <div class="control">
            <label for="type-title">Type Title</label>
            @if(type=='application'){
            <input
              id="type-title"
              [value]="current_app_type()?.typeTitle"
              formControlName="typeTitle"
            />
            }@else if(type=='test'){
            <input
              id="type-title"
              [value]="current_test_type()?.typeTitle"
              formControlName="typeTitle"
            />
            }
          </div>
          <div class="control">
            <label for="type-fees">Type Fees</label>
            @if(type==='application'){
            <input
              id="type-fees"
              [value]="current_app_type()?.typeFee"
              formControlName="typeFees"
            />
            }@else if(type=='test'){
            <input
              id="type-fees"
              [value]="current_test_type()?.fees"
              formControlName="typeFees"
            />
            }
          </div>
        </div>

        @if(type==='test'){
        <div class="control-row">
          <div class="control">
            <label for="description">Description</label>
            <input
              id="description"
              [value]="current_test_type()?.description || 'N/A'"
              formControlName="typeDescription"
            />
          </div>
        </div>
        }

        <div class="actions">
          <button class="button cancel-btn" (click)="onClose()">Cancel</button>
          <button class="button" (click)="onSubmit()">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</app-dialog-wrapper>
