<app-notification />

<app-confirmation-dialog
  [isVisible]="isDialogVisible()"
  message="Are you sure?"
  title="CONFIRM"
  (confirmed)="onDialogResult($event)"
></app-confirmation-dialog>

<app-dialog-wrapper title="Add/Edit Type">
  <div class="container">
    <fieldset>
      <legend>Type info</legend>
      <div class="control-row">
        <div class="control">
          <label for="type-id">Type ID</label>
          <input id="type-id" />
          {{ typeID != undefined ? typeID : "N/A" }}
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <label for="type-title">Type Title</label>
          <input id="type-title" />
          @if(type==='application'){
          {{
            current_app_type != undefined ? current_app_type!.typeTitle : "N/A"
          }}
          }@else {
          {{
            current_test_type != undefined
              ? current_test_type!.typeTitle
              : "N/A"
          }}
          }
        </div>

        <div class="control">
          <label for="type-fees">Type Fees</label>
          <input id="type-fees" />
          @if(type==='application'){
          {{
            current_app_type != undefined ? current_app_type!.typeFee : "N/A"
          }}
          }@else {
          {{ current_test_type != undefined ? current_test_type!.fees : "N/A" }}
          }
        </div>
      </div>

      @if(type==='test'){
      <div class="control-row">
        <div class="control">
          <label for="description">Description</label>
          <input id="description" />
          {{
            current_test_type != undefined
              ? current_test_type!.description
              : "N/A"
          }}
        </div>
      </div>
      }

      <div class="actions">
        <div class="actions">
          <button class="button" (click)="onSubmit()">Submit</button>
          <button class="button btn-cancel" (click)="onClose()">Cancel</button>
        </div>
      </div>
    </fieldset>
  </div>
</app-dialog-wrapper>
