/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  background-color: #fff;
  font-size: 0.7rem;
  color: #ebf0f6;
}

:root {
  --text-color: #7c7c7c;
  --dark-color: #5a67ba;
  --light-color: #f1f2f7;
  --hover-color: #707fdd;
  --bg-hover-color: #e4e7f6;
}
