/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  background-color: #fff;
  font-size: 0.7rem;
  color: var(--text-color);
}

:root {
  --text-color: #7c7c7c;
  --dark-color: #5a67ba;
  --light-color: #f1f2f7;
  --hover-color: #707fdd;
  --bg-hover-color: #e4e7f6;
  --special-color: #f99c30;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

p.error {
  color: #f84e2c;
}
