<app-notification />

<app-dialog-wrapper title="Licenses > Preview License">
  <div class="container">
    <fieldset>
      <legend>License info</legend>
      <div class="control-row">
        <div class="control">
          <label for="license-id">License ID</label>
          <p id="license-id">
            {{ licenseID != undefined ? licenseID : "N/A" }}
          </p>
        </div>
        <div class="control">
          <label for="driver-id">Driver ID</label>
          <p id="driver-id">
            {{
              current_license != undefined ? current_license!.driverID : "N/A"
            }}
          </p>
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <label for="full-name">Perosn Full Name</label>
          <p id="full-name">
            {{ current_driver != undefined ? current_driver!.fullName : "N/A" }}
          </p>
        </div>
        <div class="control">
          <label for="test-type">National ID</label>
          <p id="test-type">
            {{
              current_driver != undefined ? current_driver!.nationalID : "N/A"
            }}
          </p>
        </div>
        <div class="control">
          <label for="app-id">Application ID</label>
          <p id="app-id">
            {{
              current_license != undefined
                ? current_license!.applicationID
                : "N/A"
            }}
          </p>
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <label for="active-status">Active Status</label>
          <p id="active-status">
            {{
              current_license != undefined
                ? current_license.isActive
                  ? "Active"
                  : "NOT Active"
                : "N/A"
            }}
          </p>
        </div>
        <div class="control">
          <label for="issue-date">Issue Date</label>
          <p id="issue-date">
            {{
              current_license != undefined
                ? (current_license!.issueDate | date)
                : "N/A"
            }}
          </p>
        </div>
        <div class="control">
          <label for="exp-date">Expiration Date</label>
          <p id="exp-date">
            {{
              current_license != undefined
                ? (current_license!.expDate | date)
                : "N/A"
            }}
          </p>
        </div>
      </div>
      <div class="actions">
        <div class="actions">
          <button class="button" (click)="onClose()">OK</button>
        </div>
      </div>
    </fieldset>
  </div>
</app-dialog-wrapper>
