<app-dialog-wrapper title="Change Account Password">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="control-row">
      <div class="control">
        <label for="old-pass">Old Password</label>
        <input type="password" name="old-pass" id="old-pass" ngModel />
      </div>
    </div>
    <div class="control-row">
      <div class="control">
        <label for="new-pass">New Password</label>
        <input type="password" name="new-pass" id="new-pass" ngModel />
      </div>
    </div>
    <div class="control-row">
      <div class="control">
        <label for="conf-new-pass">Confirm New Password</label>
        <input
          type="password"
          name="conf-new-pass"
          id="conf-new-pass"
          ngModel
        />
      </div>
    </div>

    @if (invalidPassword) {
    <p class="error-message">Invalid password</p>
    }
    <div class="actions">
      <button class="button cancel-btn" (click)="onCancel()">Cancel</button>
      <button class="button" type="submit">Change Password</button>
    </div>
  </form>
</app-dialog-wrapper>
