form {
  background: var(--bg-light-color);
  margin: 10px;
}
form,
fieldset {
  padding: 10px;
}
.control-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.control {
  margin-bottom: 5px;
}
.control label {
  display: block;
  font-size: 0.6rem;
  margin-bottom: 3px;
}

.control p,
input,
select {
  min-width: 80px !important;
  padding: 8px;
  border: 1px solid #758a8a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
