form {
  background: var(--light-color);
}
form,
fieldset {
  padding: 10px;
}
.control-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.control {
  margin-bottom: 15px;
  width: 200px;
}
.control label {
  display: block;
  font-size: 0.6rem;
  margin-bottom: 3px;
}

.control input,
select {
  width: 100%;
  padding: 6px;
  border: 1px solid #758a8a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

button {
  border: none;
  background-color: transparent;
  color: var(--hover-color);
  cursor: pointer;
}
button.apply {
  border-radius: 5px;
  padding: 8px 35px;
  color: white;
  background-color: #f99c30;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}

input:focus {
  border: 1px solid var(--special-color) !important;
  outline: none !important;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}
