<div class="homepage-container" id="contact-us">
  <p class="section-title">contact us</p>
  <div class="main-text">Get In Touch</div>
  <p>Ready to issue a driving license? Let's chat about how we can help</p>

  <div class="contact-box">
    <div class="numbers">
      <p style="color: black">
        Email, call, or complete the form if you have any questions.
      </p>
      <a href="">info snappy.io</a>
      <p style="color: black">321-221-2310</p>
    </div>

    <form action="">
      <p style="text-align: center; font-size: 22px; color: black">
        Message Us
      </p>
      <div class="control-row">
        <div class="control">
          <input
            type="text"
            name="first-name"
            id="first-name"
            placeholder="First name"
          />
        </div>
        <div class="control">
          <input
            type="text"
            name="last-name"
            id="last-name"
            placeholder="Last name"
          />
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your email"
          />
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <input
            type="tel"
            name="tel"
            id="tel"
            placeholder="Your phone number"
          />
        </div>
      </div>
      <div class="control-row">
        <div class="control">
          <input type="text" id="message" placeholder="How can we help?" />
        </div>
      </div>
      <button class="button homepage-button">Submit</button>
    </form>
  </div>
</div>
