<form action="">
  <div class="flex">
    <input
      type="number"
      [formControl]="filter"
      placeholder="Enter Application ID..."
    />
    <div class="add-btn">
      <button class="button" type="button" (click)="onSearch()">Search</button>
    </div>
  </div>
  @if (filter.touched && filter.invalid) {
  <p class="error-message">PLEASE ENTER A VALID ID NUMBER</p>
  }
</form>

<div class="container">
  <fieldset>
    <legend>Application Info</legend>
    <div class="control-row">
      <div class="control">
        <label for="full-name">Applicant full name</label>
        <p id="full-name">
          {{ applicantName() != undefined ? applicantName() : "undefiend" }}
        </p>
      </div>
      <div class="control">
        <label for="type">Application type</label>
        <p id="type">
          {{ applicationType() != undefined ? applicationType() : "undefiend" }}
        </p>
      </div>
      <div class="control">
        <label for="class-name">Class</label>
        <p id="class-name">
          {{ licenseClass() != undefined ? licenseClass() : "undefiend" }}
        </p>
      </div>
    </div>
    <div class="control-row">
      <div class="control">
        <label for="test-count"># of Passed tests</label>
        <p  id="test-count">
          {{ testCount() != undefined ? testCount() : "undefiend" }}
        </p>
      </div>
      <div class="control">
        <label for="status">Status</label>
        <p  id="status">
          {{
            applicationStatus() != undefined ? applicationStatus() : "undefiend"
          }}
        </p>
      </div>
      <div class="control">
        <label for="date">Application Date</label>
        <p  id="date">
          {{
            current_main_application()?.date != undefined
              ? (current_main_application()!.date | date)
              : "undefiend"
          }}
        </p>
      </div>
    </div>
  </fieldset>

  <div class="control-row border-color">
    <div class="control">
      <label for="fee">Required Fee</label>
      <p id="fee">
        {{
          testTypeFee() != undefined ? (testTypeFee() | currency) : "undefiend"
        }}
      </p>
    </div>
    <div class="control">
      <label for="test_type">Test Type</label>
      <select id="test_type">
        <option value="" disabled selected>--select a test type--</option>
        @if(testTypes){ @for(type of testTypes; track $index) {
        <option [value]="type.id">{{ type.typeTitle }}</option>
        } }
      </select>
    </div>
    <div class="control">
      <label for="schadule-date">Pick a date</label>
      <input type="date"   id="schadule-date" />
    </div>
  </div>
  <div class="actions">
    <button class="button button-secondary" (click)="onReset()">Reset</button>
    <button class="button">Schadule</button>
  </div>
</div>
