<!-- showign notification if person took all 3 tests already  -->
<app-notification />

<form action="">
  <div class="flex">
    <input
      type="number"
      [formControl]="filter"
      placeholder="Enter Application ID..."
    />
    <div class="add-btn">
      <button class="button" type="button" (click)="onSearch()">Search</button>
    </div>
  </div>
  @if (filter.touched && filter.invalid) {
  <p class="error-message">PLEASE ENTER A VALID ID NUMBER</p>
  }
</form>

<div class="container">
  <fieldset>
    <legend>Application Info</legend>
    <div class="control-row">
      <div class="control">
        <label for="full-name">Applicant full name</label>
        <p id="full-name">
          {{ applicantName() != undefined ? applicantName() : "N/A" }}
        </p>
      </div>
      <div class="control">
        <label for="type">Application type</label>
        <p id="type">
          {{ applicationType() != undefined ? applicationType() : "N/A" }}
        </p>
      </div>
      <div class="control">
        <label for="class-name">Class</label>
        <p id="class-name">
          {{ licenseClass() != undefined ? licenseClass() : "N/A" }}
        </p>
      </div>
    </div>
    <div class="control-row">
      <div class="control">
        <label for="test-count"># of Passed tests</label>
        <p id="test-count">
          {{ testCount() != undefined ? testCount() : "N/A" }}
        </p>
      </div>

      <div class="control">
        <label for="status">Status</label>
        <p id="status">
          {{ applicationStatus() != undefined ? applicationStatus() : "N/A" }}
        </p>
      </div>
      <div class="control">
        <label for="date">Application Date</label>
        <p id="date">
          {{
            current_main_application()?.date != undefined
              ? (current_main_application()!.date | date)
              : "N/A"
          }}
        </p>
      </div>
    </div>
  </fieldset>

  <div class="control-row border-color">
    <div class="control">
      <label for="fee">Required Fee</label>
      <p id="fee">
        {{
          testTypeID() !== undefined && testTypes[testTypeID()!]
            ? (testTypes[testTypeID()!]!.fees | currency)
            : "N/A"
        }}
      </p>
    </div>
    <div class="control">
      <label for="test_type">Test Type available based on previous tests</label>
      <p id="test_type">
        {{
          testTypeID() != undefined
            ? testTypes[testTypeID()!].typeTitle
            : "N/A"
        }}
      </p>
    </div>
    <div class="control">
      <label for="schadule-date">Pick a date</label>
      <input
        type="date"
        id="schadule-date"
        [attr.min]="current_date.toISOString().split('T')[0]"
        [formControl]="appointmentDate"
      />
    </div>
  </div>
  <div class="actions">
    <button class="button button-secondary" (click)="onReset()">Reset</button>
    <button class="button" (click)="onSchedule()">Schadule</button>
  </div>
</div>
