<form action="">
  <div class="flex">
    <input
      type="number"
      [formControl]="filter"
      placeholder="Enter Application ID..."
    />
    <div class="add-btn">
      <button class="button" (click)="onSearch()">Search</button>
    </div>
  </div>
  @if (filter.touched && filter.invalid) {
  <p class="error-message">PLEASE ENTER A VALID ID NUMBER</p>
  }
</form>

<form [formGroup]="application_info">
  <p style="text-align: right">{{ current_date | date : "fullDate" }}</p>
  <fieldset>
    <legend>Application Info</legend>

    <div class="control-row">
      <div class="control">
        <label for="first-name">Applicant full name</label>
        <input
          readonly
          type="text"
          name="applicant-name"
          id="first-name"
          formControlName="applicantName"
        />
      </div>
      <div class="control-row">
        <div class="control">
          <label for="second-name">Application Type</label>
          <input
            readonly
            type="text"
            name="application-type"
            id="application-type"
            formControlName="applicationType"
          />
        </div>
        <div class="control">
          <label for="class-name">Class name</label>
          <input
            readonly
            type="text"
            name="class-name"
            id="class-name"
            formControlName="className"
          />
        </div>
      </div>

      <div class="control">
        <label for="status">Status</label>
        <input
          readonly
          type="text"
          name="status"
          id="status"
          formControlName="status"
        />
      </div>
    </div>

    <div class="control-row">
      <div class="control">
        <label for="passed-test"># of Passed test</label>
        <input
          readonly
          type="text"
          name="passed-test"
          id="passed-test"
          inputmode="numeric"
          formControlName="passedTest"
        />
      </div>

      <div class="control">
        <label for="date">Date</label>
        <input
          readonly
          type="text"
          name="date"
          id="date"
          formControlName="date"
        />
      </div>
      <div class="control">
        <label for="fee">Appliction Fee</label>
        <input readonly type="text" name="fee" id="fee" formControlName="fee" />
      </div>
    </div>

    <div class="control-row">
      <div class="control">
        <label for="test_type">Test Type</label>
        <select name="test_type" id="test_type" formControlName="testType">
          <option value="" disabled selected>--select a test type--</option>
          @if(testTypes){ @for(type of testTypes; track $index) {
          <option [value]="type.id">{{ type.typeTitle }}</option>
          } }
        </select>
      </div>
      <div class="control">
        <label for="schadule-date">Pick a date</label>
        <input
          type="date"
          name="schadule-date"
          id="schadule-date"
          formControlName="schaduledDate"
        />
      </div>
    </div>

    <div class="actions">
      <button class="button">Schadule</button>
    </div>
  </fieldset>
</form>
