<div class="homepage-container withbackground" id="services">
  <p class="section-title">Services</p>
  <p class="main-text">Everything you need in one place</p>
  <div class="service-cards">
    <div class="card">
      <p class="title">License Issuance</p>
      <p class="description">
        Upon successful completion of all tests, you have access to continue the
        process of issuing the license whether its a first time issuance or
        renew licenses.
      </p>
    </div>
    <div class="card">
      <p class="title">Test Evaluation</p>
      <p class="description">
        Schedule vision, written, and street tests for applicants based on your
        license class and requirements.
      </p>
    </div>

    <div class="card">
      <p class="title">License Replacement</p>
      <p class="description">
        Efficient handling of requests for replacing damaged or lost licenses.
      </p>
    </div>
    <div class="card">
      <p class="title">Release Applications</p>
      <p class="description">
        To lift the detention of you licenses, you can apply for a release
        detained license application,and paying the required fines
      </p>
    </div>
  </div>
</div>
