<app-notification></app-notification>
@if(isDialogVisible()){
<app-confirmation-dialog
  [isVisible]="isDialogVisible()"
  title="Confirm"
  message="Are you sure you want to save result? these result are not editable!"
  (confirmed)="onDialogResult($event)"
></app-confirmation-dialog>
}
<div class="backdrop">
  <div class="dialog-box light">
    <header>
      <h2
        style="
          text-align: left;
          font-size: 10px;
          padding-left: 5px;
          margin: 3px;
          font-weight: normal;
          color: var(--text-color);
        "
      >
        Appointments > Take Test
      </h2>
    </header>
    <div class="container">
      <fieldset>
        <legend>Appontment Info</legend>
        <div class="control-row">
          <div class="control">
            <label for="appoitnment-id">Appointemnt ID</label>
            <p id="appoitnment-id">
              {{ appointment != null ? appointment.id : "N/A" }}
            </p>
          </div>
          <div class="control">
            <label for="full-name">Applicant full name</label>
            <p id="full-name">
              {{ appointment != null ? appointment.fullName : "N/A" }}
            </p>
          </div>
          <div class="control">
            <label for="test-type">Test Type</label>
            <p id="test-type">
              {{
                appointment != null
                  ? testTypes![appointment.testType].typeTitle
                  : "N/A"
              }}
            </p>
          </div>
        </div>
        <div class="control-row">
          <div class="control">
            <label for="result">Result</label>
            <select name="result" id="result" [formControl]="result">
              <option value="true">PASS</option>
              <option value="false">FAIL</option>
            </select>
          </div>
          <div class="control">
            <label for="notes">Additional Notes</label>
            <input
              type="text"
              name="notes"
              id="notes"
              [formControl]="notes"
              placeholder="Additional notes"
            />
          </div>
          @if (test?.id) {
          <div class="control">
            <label for="new-id">Test ID</label>
            <p type="text" name="new-id" id="new-id">
              {{ test != null ? (test.id != 0 ? test.id : "N/A") : "N/A" }}
            </p>
          </div>
          }
        </div>

        <div class="actions">
          <button class="button cancel-btn" (click)="onCancel()">Cancel</button>
          <button class="button" (click)="onSubmit()">Submit</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>
