<div class="homepage-container withbackground" id="about-us">
  <p class="section-title">About us</p>
  <p class="main-text">Who We Are?</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia
    exercitationem explicabo maiores beatae inventore nesciunt quae saepe
    incidunt corrupti! Facere, soluta quia. Nemo nostrum assumenda nobis sequi
    at cupiditate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Recusandae corporis fugit voluptas eveniet magni! Laboriosam at odit ratione
    unde, ea animi officiis, voluptatem tempora, aliquam alias magni quidem quo
    corrupti? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
    quas facere illo commodi obcaecati voluptatibus aliquam nesciunt eos
    voluptas? Accusamus cum atque minus sunt labore, placeat neque ipsa esse
    necessitatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Ipsum mollitia exercitationem explicabo maiores beatae inventore nesciunt
    quae saepe incidunt corrupti! Facere, soluta quia. Nemo nostrum assumenda
    nobis sequi at cupiditate? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Recusandae corporis fugit voluptas eveniet magni!
    Laboriosam at odit ratione unde, ea animi officiis, voluptatem tempora,
    aliquam alias magni quidem quo corrupti? Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Deserunt quas facere illo commodi obcaecati
    voluptatibus aliquam nesciunt eos voluptas? Accusamus cum atque minus sunt
    labore, placeat neque ipsa esse necessitatibus!
  </p>
</div>
