<div class="container">
  <form class="filteration">
    <div class="flex">
      <input
        type="text"
        [formControl]="filter"
        placeholder="Full Text Search..."
      />
      <div class="add-btn">
        <button
          routerLink="../add-edit-appointment"
          [queryParams]="{ mode: 'add', id: 0 }"
          class="button"
        >
          + Add New Appointment
        </button>
      </div>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Full Name</th>
        <th scope="col">Application ID</th>
        <th scope="col">Locked Status</th>
        <th scope="col">Date</th>
        <th scope="col">Test Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (app of displayedData; track $index) {
      <tr>
        <td>{{ app.id }}</td>
        <td>{{ app.fullName }}</td>
        <td>{{ app.localLicenseApplicationID }}</td>
        <td>{{ app.isLocked }}</td>
        <td>{{ app.date | date }}</td>
        <td>{{ testTypes[app.testType - 1].typeTitle }}</td>
        <td class="actions">
          <button
            [disabled]="app.isLocked"
            routerLink="../add-edit-appointment"
            [queryParams]="{ mode: 'edit', id: app.localLicenseApplicationID }"
            class="button edit-btn"
          >
            Edit
          </button>
          <button
            [disabled]="app.isLocked"
            routerLink="../take-test"
            [queryParams]="{ id: app.id }"
            class="button"
          >
            Take Test
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="7" style="text-align: center">No Appointments Found</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <button
      class="prev-btn"
      (click)="onPrevious()"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button
      class="next-btn"
      (click)="onNext()"
      [disabled]="currentPage * pageSize > filteredappointments.length"
    >
      Next
    </button>
  </div>
</div>
