<div class="homepage-container">
  <p class="main-text">Drive safe, Drive smart</p>
  <p style="color: black">
    We make it easier to you to get your driving license.
  </p>
  <button class="button homepage-button">Apply for license &#8594;</button>
  <div class="cards">
    <div class="card">
      <img src="images\feature1.jpg" alt="feature1" />
    </div>
    <div class="card"><img src="images\feature2.jpg" alt="feature2" /></div>
    <div class="card"><img src="images\feature3.jpg" alt="feature3" /></div>
    <div class="card"><img src="images\feature4.jpg" alt="feature4" /></div>
  </div>
</div>
