<div class="container">
  <form class="filteration">
    <div class="flex">
      <input
        id="table-filtering-search"
        type="text"
        [formControl]="filter"
        placeholder="Full Text Search"
      />
      <div class="add-btn">
        <button
          routerLink="../add-edit-type"
          [queryParams]="{
            id: null,
            mode: 'add',
            type: 'test'
          }"
          class="button"
        >
          + Add New Type
        </button>
      </div>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type Name</th>
        <th scope="col">Fee</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (type of displayedData; track $index) {
      <tr>
        <td>{{ type.id }}</td>
        <td>{{ type.typeTitle }}</td>
        <td>{{ type.fees | currency }}</td>
        <td>{{ type.description }}</td>
        <td>
          <button
            routerLink="../add-edit-type"
            [queryParams]="{
              id: type.id,
              mode: 'edit',
              type: 'test'
            }"
            class="button"
          >
            Edit
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="5" style="text-align: center">No Test Types found</td>
      </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <button
      class="prev-btn"
      (click)="onPrevious()"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button
      class="next-btn"
      (click)="onNext()"
      [disabled]="currentPage * pageSize >= filteredTypes.length"
    >
      Next
    </button>
  </div>
</div>
