@if(messageBox()) {
<div class="notification-overlay">
  @if(messageBox()?.status === 'success'){
  <div class="success-notification-box">
    <div class="message">
      {{ messageBox()?.message }}
    </div>
    <button class="notification-button" (click)="closeNotification()">
      OK
    </button>
  </div>
  }@else{
  <div class="failed-notification-box">
    <div class="message">
      {{ messageBox()?.message }}
    </div>
    <button class="notification-button" (click)="closeNotification()">
      OK
    </button>
  </div>
  }
</div>

}
