.wrapper {
  background-color: var(--bg-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 850px;
  gap: 8px;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  .main {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }
}

.shapes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light-color);
  gap: 25px;
}

.tests-count,
.drivers-count,
.licenses-count {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  background: linear-gradient(145deg, #1d2b86, #9aa0c9);
  padding: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 24px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
