header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 12px;
  padding: 10px;
  p {
    font-size: 20px;
    font-weight: bold;
  }
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  a {
    padding: 15px;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: var(--button-bg-color);
  color: var(--hover-color);
}
button {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
